*{
    margin: 0;
    padding: 0;
    font-family: 'Mate SC', serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 15px;
}
nav ul li a{
    text-decoration: none;
    color: #4d4d4d;
    font-size: 16px;
}
nav ul li a:hover{
    color: #ff5039;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 1px;
    padding-right: 1px;
}
.sub-header{
    height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://cosmicbook.news/sites/default/files/styles/768/public/animeexpo.jpg?itok=Tkx6epBQ&timestamp=1627516985);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    position: absolute;
    width: 100%;
    color: #fff;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.card-body p{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}
.card-body a{
    text-decoration: none;
    color: #4d4d4d;
    text-align: center;
    font-size: 16px;
}
/*------footer------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 600;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
/*------footer------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 0px 0;
}
.product{
    position: absolute;
    width: 100%;
    color: black;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}




